<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7a66ec">  <td>21/09/16 06:28:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register_Login.RegisterUser(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:dataProvidingforTwoMethods.Register_Login@68e5eea7]">RegisterUser</td> 
  <td>main@1239183618</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>21/09/16 06:28:52</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register_Login.RegisterUser(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:dataProvidingforTwoMethods.Register_Login@68e5eea7]">RegisterUser</td> 
  <td>main@1239183618</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>21/09/16 06:28:52</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register_Login.logIN(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:dataProvidingforTwoMethods.Register_Login@68e5eea7]">logIN</td> 
  <td>main@1239183618</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>21/09/16 06:28:52</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register_Login.logIN(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:dataProvidingforTwoMethods.Register_Login@68e5eea7]">logIN</td> 
  <td>main@1239183618</td>   <td></td> </tr>
</table>
