<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Functional Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d4a5c2">  <td>21/09/14 09:55:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AnnotationsInTestNG.prepWork()[pri:0, instance:annotations.AnnotationsInTestNG@68567e20]">&gt;&gt;prepWork</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="d4a5c2">  <td>21/09/14 09:55:24</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AnnotationsInTestNG.preReq()[pri:0, instance:annotations.AnnotationsInTestNG@68567e20]">&gt;&gt;preReq</td> 
<td>&nbsp;</td>  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="d4a5c2">  <td>21/09/14 09:55:29</td>   <td>4765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnnotationsInTestNG.test1()[pri:0, instance:annotations.AnnotationsInTestNG@68567e20]">test1</td> 
  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="d4a5c2">  <td>21/09/14 09:55:29</td>   <td>4799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AnnotationsInTestNG.tearDown()[pri:0, instance:annotations.AnnotationsInTestNG@68567e20]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="d4a5c2">  <td>21/09/14 09:55:30</td>   <td>5857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AnnotationsInTestNG.preReq()[pri:0, instance:annotations.AnnotationsInTestNG@68567e20]">&gt;&gt;preReq</td> 
<td>&nbsp;</td>  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="d4a5c2">  <td>21/09/14 09:55:34</td>   <td>9815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnnotationsInTestNG.test2()[pri:0, instance:annotations.AnnotationsInTestNG@68567e20]">test2</td> 
  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="d4a5c2">  <td>21/09/14 09:55:34</td>   <td>9834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AnnotationsInTestNG.tearDown()[pri:0, instance:annotations.AnnotationsInTestNG@68567e20]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="d4a5c2">  <td>21/09/14 09:55:35</td>   <td>10875</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AnnotationsInTestNG.destorySel()[pri:0, instance:annotations.AnnotationsInTestNG@68567e20]">&lt;&lt;destorySel</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="8d977b">  <td>21/09/14 09:55:35</td>   <td>10877</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AnnotationsInTestNG2.prepWork()[pri:0, instance:annotations.AnnotationsInTestNG2@76ed1b7c]">&gt;&gt;prepWork</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="8d977b">  <td>21/09/14 09:55:35</td>   <td>10877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AnnotationsInTestNG2.preReq()[pri:0, instance:annotations.AnnotationsInTestNG2@76ed1b7c]">&gt;&gt;preReq</td> 
<td>&nbsp;</td>  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="8d977b">  <td>21/09/14 09:55:37</td>   <td>13131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnnotationsInTestNG2.test1()[pri:0, instance:annotations.AnnotationsInTestNG2@76ed1b7c]">test1</td> 
  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="8d977b">  <td>21/09/14 09:55:37</td>   <td>13144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AnnotationsInTestNG2.tearDown()[pri:0, instance:annotations.AnnotationsInTestNG2@76ed1b7c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="8d977b">  <td>21/09/14 09:55:38</td>   <td>13767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AnnotationsInTestNG2.preReq()[pri:0, instance:annotations.AnnotationsInTestNG2@76ed1b7c]">&gt;&gt;preReq</td> 
<td>&nbsp;</td>  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="8d977b">  <td>21/09/14 09:55:40</td>   <td>15899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnnotationsInTestNG2.test2()[pri:0, instance:annotations.AnnotationsInTestNG2@76ed1b7c]">test2</td> 
  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="8d977b">  <td>21/09/14 09:55:40</td>   <td>15917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AnnotationsInTestNG2.tearDown()[pri:0, instance:annotations.AnnotationsInTestNG2@76ed1b7c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="8d977b">  <td>21/09/14 09:55:41</td>   <td>16538</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AnnotationsInTestNG2.destorySel()[pri:0, instance:annotations.AnnotationsInTestNG2@76ed1b7c]">&lt;&lt;destorySel</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="6cb480">  <td>21/09/14 09:55:41</td>   <td>16539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFunc.loginViaEmail()[pri:0, instance:annotations.LoginFunc@11fc564b]">loginViaEmail</td> 
  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="6cb480">  <td>21/09/14 09:55:41</td>   <td>16541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFunc.loginViaFacebook()[pri:0, instance:annotations.LoginFunc@11fc564b]">loginViaFacebook</td> 
  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="6cb480">  <td>21/09/14 09:55:41</td>   <td>16544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFunc.loginViaTwitter()[pri:0, instance:annotations.LoginFunc@11fc564b]">loginViaTwitter</td> 
  <td>main@1716093734</td>   <td></td> </tr>
</table>
