<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testNGgrouping.Demo</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>demoTest3</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>demoTest4</td>
<td>sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>demoTest1</td>
<td>performance </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>demoTest2</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
