<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>Demo.demoTest2()[pri:0, instance:testNGgrouping.Demo@15ca7889]<br/>Demo.demoTest3()[pri:0, instance:testNGgrouping.Demo@15ca7889]<br/></td></tr>
</table>
