<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Payment Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5bebf">  <td>21/09/16 08:37:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo.demoTest2()[pri:0, instance:testNGgrouping.Demo@15ca7889]">demoTest2</td> 
  <td>main@1646464088</td>   <td></td> </tr>
<tr bgcolor="b5bebf">  <td>21/09/16 08:37:24</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo.demoTest3()[pri:0, instance:testNGgrouping.Demo@15ca7889]">demoTest3</td> 
  <td>main@1646464088</td>   <td></td> </tr>
</table>
