<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>annotations.LoginFunc</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginViaTwitter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginViaFacebook</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginViaEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginViaQuora</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginViaSlack</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginViaPintrest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
