<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Login Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d4a5c2">  <td>21/09/14 10:31:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFunc.loginViaEmail()[pri:0, instance:annotations.LoginFunc@31f9b85e]">loginViaEmail</td> 
  <td>main@879583678</td>   <td></td> </tr>
<tr bgcolor="d4a5c2">  <td>21/09/14 10:31:43</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFunc.loginViaPintrest()[pri:0, instance:annotations.LoginFunc@31f9b85e]">loginViaPintrest</td> 
  <td>main@879583678</td>   <td></td> </tr>
<tr bgcolor="d4a5c2">  <td>21/09/14 10:31:43</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFunc.loginViaQuora()[pri:0, instance:annotations.LoginFunc@31f9b85e]">loginViaQuora</td> 
  <td>main@879583678</td>   <td></td> </tr>
<tr bgcolor="d4a5c2">  <td>21/09/14 10:31:43</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFunc.loginViaTwitter()[pri:0, instance:annotations.LoginFunc@31f9b85e]">loginViaTwitter</td> 
  <td>main@879583678</td>   <td></td> </tr>
<tr bgcolor="d4a5c2">  <td>21/09/14 10:31:43</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFunc.loginViaSlack()[pri:1, instance:annotations.LoginFunc@31f9b85e]">loginViaSlack</td> 
  <td>main@879583678</td>   <td></td> </tr>
<tr bgcolor="d4a5c2">  <td>21/09/14 10:31:43</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFunc.loginViaFacebook()[pri:2, instance:annotations.LoginFunc@31f9b85e]">loginViaFacebook</td> 
  <td>main@879583678</td>   <td></td> </tr>
</table>
